@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inter:wght@400;500;600;700;800&family=Open+Sans:wght@300;700&family=Tinos:wght@400;700&display=swap');


.cartBox{
    height: 100%;
    width: 385px;
    border: 1px solid black;
    z-index: 999;
    margin-left: auto;
    position: fixed;
    background: white;
    right: 0;
    top: 0;
}
  
.CartShadow{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.cart-wrapper{
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.cart-top{
    display: flex;
    justify-content: space-between;

    .cart__title{
        font-weight: 700;
        margin: 0;
        font-size: 24px;
        margin-bottom: 30px;
    }
    .close-btn{
        cursor: pointer;
        opacity: 0.5;  
    }
    .close-btn:hover{
        opacity: 1;
    }    
    
}

.Cart-items{
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style-type: none;
    overflow: scroll;
    overflow-x:hidden;
    height: 69vh;

}
.Cart-items::-webkit-scrollbar {
    width: 10px;
    background: #e7e0e0;
    border-radius: 4px;
  }
.Cart-items::-webkit-scrollbar-thumb {
  background: #dad4d4;
  width: 8px;
  border-radius: 5px;
}
.item{
    width: 305px;
    height: 119px;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    margin-bottom: 20px;
    .item__picture{
        margin-left: 14px;
    }
    .text{
        margin-left: 15px;
        max-width: 150px;
        .item-price{
            margin-top: 8px;
            font-weight: 700;
            font-size: 14px;
        }
    }
    .delete-btn{
        margin-left: 10px;
        margin-right: 5px;
        cursor: pointer;
        opacity: 0.5;  
    }
    .delete-btn:hover{
        opacity: 1;
    }  
}

.cart-bottom{
    margin-bottom: 30px;
}
.line{
    border-bottom: 1px dashed #DFDFDF;
    flex: 1;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 5px;
    width: auto;
}
.sum{
    display: flex;
    font-size: 16px;
    margin-bottom: 20px;
    span{
        font-weight: 400;
    }
    .amount{
        font-weight: 600;
    }
}

.discount{
    display: flex;
    font-size: 16px;

    margin-bottom: 32px;
    span{
        font-weight: 400;
    }
    .percent{
        font-weight: 600;
    }
}
.cart-empty{
    margin: 50% auto;
    width: 285px;
    height: 320px;
    text-align: center;
    align-items: center;
    .cart-empty__title{
        margin-top: 21px;
        font-weight: 600;
        font-size: 22px;
    }
    p{
        margin-top: 9px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        opacity: 0.4;
    }
}