.orders{
    padding-bottom: 20px;
}
.orders--empty{
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 315px 0;
    .orders__title{
        margin: 0;
        margin-bottom: 15px;
    }
    p {
        margin: 0;
    }
}
.orders__title{
    margin-top: 40px;
    margin-bottom: 40px;
}
