.order-btn{
    width: 325px;
    height: 55px;
    background:#9DD458;
    border: none;
    border-radius: 18px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    }