.Home{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Home__title {
    font-weight: 700;
    font-size: 32px;
    margin: 40px 0;
  }
}
.cards__wrapper{
  display: flex;
  flex-wrap: wrap; 
  padding-bottom: 30px;
  justify-content: space-between;
}
  