.order__btn{
    width: 325px;
    height: 55px;
    background: var(--bgButton);
    border: none;
    border-radius: 18px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    img{
        margin-left: 2px;
        transition: transform ease-in-out 0.15s; 
    }
    }
.order__btn:hover{
    img{
            transform: translateX(5px)
    }
}